{% extends "teacherportal/base.html" %}


{% block content %}
    <div class="attendanceSum">

        <div id="modalConfirm" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Student present</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="modalText"></p>
                    </div>
                    <div class="modal-footer">
                        <button id="modalSave" type="button" class="btn btn-primary">Student present</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Studentnumber</th>
                <th>Student name</th>
                <th>Phone check</th>
                <th>Card check</th>
                <th>Present</th>
                <th>Course stats </br> (present/total)</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="tbodyAttend">
            {% for attendee in attendances %}
                {% if attendee.card_check and attendee.phone_check %}
                    <tr class="table-success" id="{{ attendee.student.student_nr }}">
                        <td id="studentNumber">{{ attendee.student.student_nr }}</td>
                        <td>{{ attendee.student.name }}</td>
                        <td>{{ attendee.phone_check }}</td>
                        <td>{{ attendee.card_check }}</td>
                        <td><i class="fas fa-check"></i></td>
                        {% if attendee.student_course_stats %}
                            <td>{{ attendee.student_course_stats.present }}/{{ attendee.student_course_stats.total }}</td>
                        {% else %}
                            <td><i>No data</i></td>
                        {% endif %}
                        <td>
                            <button type="button" class="btn btn-danger btn-sm attend button-attendance" data-student-name="{{ attendee.student.name }}">
                                Set not present
                            </button>
                        </td>
                    </tr>
                {% else %}
                    <tr class="table-danger" id="{{ attendee.student.student_nr }}">
                        <td id="studentNumber">{{ attendee.student.student_nr }}</td>
                        <td>{{ attendee.student.name }}</td>
                        <td>{{ attendee.phone_check }}</td>
                        <td>{{ attendee.card_check }}</td>
                        <td><i class="fas fa-times"></i></td>
                        {% if attendee.student_course_stats %}
                            <td>{{ attendee.student_course_stats.present }}/{{ attendee.student_course_stats.total }}</td>
                        {% else %}
                            <td><i>No data</i></td>
                        {% endif %}
                        <td>
                            <button type="button" class="btn btn-success btn-sm attend button-attendance" data-student-name="{{ attendee.student.name }}">
                                Set present
                            </button>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $('.attend').click(function (e) {
            studentid = $(this).closest('tr').attr('id');

            if ($(this).closest('tr').hasClass('table-success'))  {
                modalText = 'Are you sure ' + $(this).data('student-name') + 'is not present?';
                modalButtonText = 'Set not present'
            } else {
                modalText = 'Are you sure ' + $(this).data('student-name') + ' is present?';
                modalButtonText = 'Set present'
            }
            $("#modalSave").text(modalButtonText)
            $("#modalText").text(modalText);
            $('#modalConfirm').modal('show');
            collegeid = {{ collegeid }};

            $('#modalSave').click(function (e) {
                $.ajax({
                    url: '{{ BASE_URL_W_TRAILING_SLASH }}teacherportal/set_student_attendance/' + collegeid + '/' + studentid + '/',
                    success: function (data) {
                        if (data.success) {
                            $('#modalConfirm').modal('hide');
                            location.reload();
                        } else {
                            alert(data.errormsg);
                        }
                    }

                });
            });

        });


    </script>
{% endblock %}
