{% if course_stats.0.course_stats.colleges %}
    <canvas id="myChart" width="100%" height="50px"></canvas>

    <script>
        data ={{  course_stats.0.course_stats.colleges|safe }};
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Presentness',
                    data: data
                }]
            },
            options: {
                responsive: true,
                tooltips: {
                    intersect: false,
                    titleFontSize: 20,
                    bodyFontSize: 20,
                    titleFontColor: '#000000',
                    bodyFontColor: '#000000'
                },
                title:{
                  display:true,
                  text:'Course presentness'
                },
                bezierCurve: false,
                scales: {
                    xAxes: [{
                        type: 'time',
                        ticks: {
                            autoSkip: true,
                            maxTicksLimit: 20
                        }
                    }]
                }
            }
        });
    </script>
{% else %}
    <i>No data available</i>
{% endif %}