{% extends "teacherportal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3>Teacher edit</h3>
    </div>
    <div id="teacherSummary">
        <div class="media-body">
            <table class="table ">
                <tr>
                    <th scope="row">Username</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.teacher.email }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ user.teacher.name }}</td>
                </tr>
            </table>
        </div>
        <button type="submit" id="editTeacher" class="btn btn-info">Edit Account</button>
    </div>
    <script>

        $("#editTeacher").click(function (e) {
            console.log('clicked');
            $.ajax({
                url: "{{ BASE_URL }}{% url 'teacher_edit' %}",
                success: function (data) {
                    console.log('This was a succes but the append went wrong')
                    $('#teacherSummary').html(data);
                },
                failure: function (data) {
                    alert('Something went wrong try again later.');
                }
            });
        });
    </script>
{% endblock content %}
